/* GLOBAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #00856f;
	--headline: #212529;
	--paragraph: #495057;
	--white: #ffffff;

	--brand-beige: #fffaf1;
	--brand-light: #dce9e2;

	--bg-light: #f7f9f9;
	font-size: 62.5%; /* 1rem = 10px */

	--nav-height: 7.2rem;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'DM Sans', sans-serif;
	font-size: 1.6rem;

	text-align: center;

	overflow: overlay;
	background-color: var(--bg-light);
}

ul,
li {
	list-style: none;
}

section {
	padding-block: 10rem;
	/* padding-block se aplica para encima e embaixo */
	/* Está sendo aplicado pois em toda section tem margem de 100px encima e embaixo de uma para outra */
}

.wrapper {
	width: 37.5rem;
	margin-inline: auto;
	padding-inline: 2.4rem;
}

/* NAVIGATION */

nav {
	display: flex;
	height: var(--nav-height);

	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

nav .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav.scroll {
	width: 100vw;
	background-color: var(--primary-color);
	color: var(--white);
}

nav.scroll svg:nth-child(1) path {
	fill: var(--white);
}

nav.scroll button path {
	stroke: var(--white);
}

nav button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* MENU */

body.menu-expanded {
	overflow: hidden;
}

body.menu-expanded > :not(nav) {
	display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
	opacity: 0;
	visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
	opacity: 1;
	visibility: visible;
}

body.menu-expanded .menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--primary-color);

	width: 100vw;
	height: 100vh;

	padding-top: var(--nav-height);

	transition: opacity 500ms;
}

body.menu-expanded nav {
	position: relative;
}

.menu ul:nth-child(1) {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;

	margin: 6rem auto;

	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.1rem;
}

.menu ul li a {
	color: var(--white);
	text-decoration: none;
}

.menu .button {
	background-color: var(--white);
	border-radius: 4rem;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	text-transform: uppercase;
	text-decoration: none;

	color: var(--primary-color);
	display: inline-block;

	padding: 1.6rem 3.2rem;

	margin: 4rem 0 7rem 0;
}

.menu .social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
	position: relative;
	z-index: 100;
}

body.menu-expanded .logo path {
	fill: var(--white);
}

body.menu-expanded button path {
	stroke: var(--white);
}

/* HEADER */

#home {
	padding-top: calc(4rem + var(--nav-height));
}

#home::before {
	content: '';
	width: 100%;
	height: calc(108rem + var(--nav-height));

	background-color: var(--brand-light);
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#home h4 {
	font-size: 1.4rem;
	color: var(--primary-color);
	margin: 2.5rem auto 1.6rem auto;
}

#home h1 {
	font-size: 3.4rem;
	margin: 0 auto 2.4rem auto;
}

#home p {
	font-size: 1.8rem;
	line-height: 150%;
	margin: 0 auto 3.2rem auto;
}

#home button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;
	gap: 16px;
	background: var(--primary-color);
	border-radius: 4rem;
	margin: 0 auto;
	color: var(--white);
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 auto 6rem auto;
	border: 0;
}

button:hover {
	filter: brightness(0.9);
}

/* Deixar imagem colada ao bloco de conteudo */
.img-header {
	display: block;
	margin: 0 auto;
	object-position: 0 0.5rem;
}

#home .content-attended {
	width: 32.7rem;
	margin-inline: auto;
	padding-block: 4rem;

	background-color: var(--brand-beige);
	border: 1px solid var(--brand-light);
	border-radius: 0.6rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6rem;
}

#home .content-attended h3 {
	color: var(--headline);
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 130%;
}

#home .content-attended p {
	margin: 0;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 150%;
	color: var(--primary-color);
}

/* SERVICES */

#services header h4 {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 150%;
	text-transform: uppercase;

	letter-spacing: 0.08rem;

	color: var(--primary-color);
	margin: 0 0 1.6rem 0;
}

#services header h2 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.9rem;
	text-align: center;

	/* Secondary Colors/gray-headline */

	color: var(--headline);
	margin: 0 0 6rem 0;
}

#services .cards {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
}

#services .card {
	padding: 2.4rem;
	text-align: left;

	background: var(--white);

	border: 1px solid var(--brand-light);
	border-radius: 0.6rem;
}

#services .card h3 {
	margin: 1.6rem 0;
}
